body { 
  font-size: 10pt;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  background-color: #e8e8e8; 
  background-image: url('background.png');
  background-position:center top;
}

div {
  margin: 0px;
}

#centeredContainer {
  position: absolute;
  width: 720pt;
  margin-left: -360pt;
  top: 0px;
  left: 50%;
}

.whiteBox {
  margin-top: 78px;
  position: relative;
  width: 100%;
  height: 460pt;
  background-color: #F9F9F9;   
}

#mainTitle {
  position: absolute;
  color: #684224;
  top: 10pt;
  left: 0pt;
  font-size: 22pt;
  font-weight: 300;
  background-color: #e8e8e8; 
  font-family: 'Open Sans', sans-serif;
}

#mainTitle h1{ /* DEFACTO.CEU.HU */

}

.mainTitle h4{  /* CEU Microdata */
  font-size: 11pt;
  font-weight: 400;
  margin: 0px;
}

.chartContainer {
  position: absolute;
  right: 40pt;
  top: 100pt;
  left: 20pt;
  bottom: 20pt;
  background-color: #FFFFFF;  
  border-top: 1px solid #dddddd;
}

#detailsButton {
  cursor:pointer;
  position: absolute;
  right: 214pt;
  top: 120pt;
  width: 15pt;
  height: 15pt;
  text-align: center;  
}

#detailsPanel {
  display: none;
  position: absolute;
  right: 206pt;
  top: 114pt;
  width: 200pt;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  text-align: left;   
}
#detailsPanel img {
  position:absolute;
  top: 4pt;
  right: 4pt;
  cursor:pointer;
}


.chartShareButtons {
  position: absolute;
  top: 100pt;
  left: 680pt;
  right: 10pt;
  bottom: 10pt;

}

#shareButton {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21pt;
  height: 21pt;
  margin-left: -1px;
  z-index: 200;
  background-color: #ffffff;
}

.shareButton_normal {
  border-left: 1px solid #dddddd; 
}
.shareButton_hover {
  border-top: 1px solid #dddddd; 
  border-right: 1px solid #dddddd; 
  border-bottom: 1px solid #dddddd; 
}



#shareButton img{
  margin-left:  3px;
}


.chartShareArea {
  top: 0pt;
  z-index: 50;
  position: absolute;
  background-color: #ffffff;  
  border: 1px solid #dddddd; 
  border: 1px solid #dddddd; 
  border: 1px solid #dddddd; 
  width: 200px;
  padding: 20px;
  right: 30pt;
  display: none;
}
