.mainMenuItem {
  position: absolute;
  top: 0px;
  margin: 0px;
  font-size: 11pt;
  
  padding-left: 20pt;  
  padding-top: 6pt;  
  
  width: 160pt;
  height: 20pt; 
  border-left: 1px solid #dddddd;
  margin-left: -1px;
}
.mainMenuItemActive {
  font-weight: bold;
  color: #333333;
  background-color: #F9F9F9; 
  border-bottom: 1px solid #dddddd;

}
.mainMenuItemNormal {
  color: #006D9E;
  font-weight: 600;
  background-color: #ffffff; 
  border-bottom: 1px solid #dddddd;
}
.mainMenuItemInactive {
  font-weight: 600;
  color: #dddddd;
  background-color: #ffffff; 
  border-bottom: 1px solid #dddddd;
}

.mainMenuItemHover {
  font-weight: 600;
  color: #ffffff;
  background-color: #006D9E;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.subMenu {
  position: absolute;
  top: 80pt;
  left: 20pt;
}
.subMenuItem {
  font-size: 10pt;
  margin-right: 30px;
  padding-bottom: 5pt;
}
.subMenuItemActive {
  font-weight: bold;
}
.subMenuItemNormal {
  color: #006D9E;
  font-weight: 600;
  cursor: pointer;
}

.subMenuItemHover {
  border-bottom: 3px solid #006D9E;
}

